<h1>Make your form here</h1>

<form action="/pirates" method="post">
 <h3> Pirate Name: <input type="text" name="pirate[name]"></h3>
  <h3>Pirate Weight: <input type="text" name="pirate[weight]"></h3>
  Pirate Height: <input type="text" name="pirate[weight]">
  
  
  
  
</form>
